.TopBarWrapper {
    text-align:center;
    background-color: rgb(217,66,53);
    width: 100%;
    color:white;
    font-size:3em;
    top: 0;
    box-shadow: 1px 1px 1px #888888;
}

.TopBarScramble {
    font-size: 2rem;
}

.PuzzleType {

}