.TopBarWrapper {
    text-align:center;
    background-color: rgb(217,66,53);
    height: 150px;
    padding: 20px;
    color:white;
    font-size:3em;
    box-shadow: 1px 1px 1px #888888;
}

.TopBarScramble {
    margin-top: 30px;
    font-size: 2rem;
}

.PuzzleType {
    
}